html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
}

ul {
  padding: 0px;
}

.vh-100 {
  min-height: 100vh;
}

.container {

}

.padding-15 {
  padding: 15px;
}

.margin-top-160 {
  margin-top: 160px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-20 {
  margin-top: 20px;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.search-bar {
  margin-top: 20px;
  margin-right: 15px;
  margin-left: 15px;
}

.video-details-box {
  padding: 5px;
  margin-top: 20px;
}

.video-details-title {
  text-transform: uppercase;
  font-weight: bold;
}

.video-details-desc {

}

.video-details-publishedTime {
  font-size: 12px;
}

.video-details-viewCount {
  font-size: 12px;
}

.video-list-item {
  list-style-type: none;
  width: 100%;
}

.video-list-item:hover {
  cursor: pointer;
  color: #FFF;
  background-color: #494949;
  transition: background-color .5s;
}

.item-img {
  padding: 5px;
  max-height: 100px;
  display: flex;
  align-content: center;
}

.item-info {
  padding: 5px;
}

.item-title {
  font-size: 14px;  
  width: 200px;
  height: 40px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.item-publishedTime {

}

.item-viewCount {

}

.channel-title {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.channel-desc {
  
}

.text-header {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.height-400 {
  height: 400px;
}