html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  color: #333333;
  font-family: 'Roboto', sans-serif;
}

ul {
  padding: 0px;
}

.vh-100 {
  min-height: 100vh;
}

.padding-15 {
  padding: 15px;
}

.padding-top-80 {
  padding-top: 80px;
}

.margin-top-160 {
  margin-top: 160px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-80 {
  margin-bottom: 80px;
}

.no-margin-bottom {
  margin-bottom: 0px;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.flex-90 {
  flex-basis: 90%;
}

.flex-80 {
  flex-basis: 80%;
}

.flex-70 {
  flex-basis: 70%;
}

.flex-20 {
  flex-basis: 20%;
}

.flex-10 {
  flex-basis: 10%;
}

.flex-5 {
  flex-basis: 5%;
}

.nav-bar {
  height: 60px;
  background: #333333;
}

.logo {
  height: 25px;
  margin-top: 15px;
}

.logo-name {
  height: 50px; 
  font-size: 18px;
  letter-spacing: 2px;
  display: flex;
  color: #DCDCDC;
  cursor: pointer;
  align-items: center;
}

.logo-menu {
  cursor: pointer;
  margin-left: auto;
}

.logo-search {
  cursor: pointer;
  margin-left: auto;
}

.footer {  
  bottom: 0;
  width: 100%;
  height: 60px;
  position: fixed;
  background: #333333;
}

.search-bar {
  margin-top: 20px;
  margin-right: 15px;
  margin-left: 15px;
}

.video-details-box {
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.video-details-title {
  font-size: 16px;  
  font-weight: bold;
}

.video-details-desc {
  font-size: 14px;
  color: #777;
}

.video-details-publishedTime {
  text-align: center;
  font-size: 13px;
  font-weight: lighter;
  color: #777;
}

.video-details-viewCount {
  text-align: center;
  font-size: 13px;
  color: #777;
}

.video-list {
  overflow-y: scroll;
  height: 470px;
}

.video-list-item {
  color: #333333;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
  list-style-type: none;
}

.video-list-item:hover {
  cursor: pointer;
  color: #333333;
  background-color: #dddddd;
  transition: background-color .5s;
}

.item-img {
  padding: 5px;
  max-height: 100px;
  display: flex;
  align-content: center;
}

.item-info {
  padding: 5px;
}

.item-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.item-viewCount {
  display: flex;
  font-size: 13px;
  font-weight: lighter;
  color: #777;
}

.item-icon {
  margin-top: 2px;
  margin-right: 5px;
}

.channel-title {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.channel-desc {
  
}

.header-text {
  cursor: default;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}
